.btn {
  background: var(--main-color) !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 50%;
  border-radius: 3rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--second-bg-color-color);
}
.btn:hover {
  box-shadow: none;
}