.btn {
  background: var(--main-color) !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 50%;
  border-radius: 3rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--second-bg-color-color);
}
.btn:hover {
  box-shadow: none;
}

/* btn-download */

.btn1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;  
  background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
  border:1px solid transparent;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  box-shadow: 0 0 1rem var(--main-color);
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;  
}

.btn1 ion-icon {
  margin-right: 8px;
}

.btn1:hover {
  background: #fff;
  color: #333;
  border-color: #333;
  box-shadow: none;
  
  
}



/* botão mobile  */

.btn-menuMobile{
  position: relative;
  width: 40px;
  height: 40px;
  border:1px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  color:#fff;
  z-index: 1000;  
}

.btn-menuMobile .line,
.btn-menuMobile .line::before,
.btn-menuMobile .line::after{
  position: relative;
  width: 100%;
  height: 3px;
  background:#fff;
  border-radius: 3px;
  transition: transform .3s ease;  
  
}
.btn-menuMobile .line::before,
.btn-menuMobile .line::after
{
  content: '';  
  position: absolute;
  left: 0;  
  
}
.btn-menuMobile .line::before{
  top: -12px; 
}

.btn-menuMobile .line::after{
  top: 12px;    
}

.btn-menuMobile:hover .line{
  background-color: transparent;
  
}
.btn-menuMobile:hover .line::before{
  transform: rotate(45deg);
  top:0px;
}
.btn-menuMobile:hover .line::after{
  transform: rotate(-45deg);
  bottom:-20px;
  top:0px;  
}

/* botão restrito  */


