.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 1rem;  
  z-index: 99;
  border-bottom: 1.3px solid rgba(251, 250, 250, 0.2);
}
.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo{
  font-family: var(--font-logo);
  font-size: 1.6rem;
  font-weight: bold; 
  color: rgba(255,255,255,.3);
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  user-select: none;
  flex: 1;

}
.header__logo span{  
 
  color:#F36B37;
  /* color: #2E98C8; */
  font-weight: bold;
}
.header nav{
  flex: 3;
  display: flex;
  align-items: center;
}
.header__nav{
  display: flex;
  justify-content: right;
  gap: 1rem; 
  width: 100%;   
}
.header__item{  
  
}
.header__link{
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: #EAEAEA;

}

.header__link::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #F36B37;
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s; 
}

.header__link:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}


.btn-menu{
  display: none;
  width: 40px;
  height: 40px;
  background:transparent;
  border: none;
  font-size: 40px;
  color:#EAEAEA;
  cursor: pointer;
}

.area-btns{
  position: absolute;
  bottom: -32px;
  right: 0;
  border-radius: 6px;
  width: 150px;
  height: 35px;
  background-color: #eaeaea1c;
  backdrop-filter: blur(10px);
  border: 2px solid #F36B37;
  color:#F36B37;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
 
}
.area-btns .btnArea-popup{
  position: relative;  
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 50px;  
  background: transparent;
  color:#000;
  cursor: pointer;
  overflow: hidden;
  
}

.area-btns .btnArea-popu p{
  visibility: hidden;
}
.area-btn .btn-mode{
  width: 30px;
  height: 30px;
  background-color: red;
}


@media (max-width:700px){
  .header__nav{
    display: none;
  }
  .btn-menu{
    display: block;
  }
}