html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-top);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: #ccc; */
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid rgb(172, 15, 15);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 10rem 6% 2rem;
}

@media (max-width:1200px) {
  html{
    /* font-size: 55%; */
  }
  
}

@media (max-width:991px) {
  section{
    padding: 10rem 3% 2rem;
  }
  .footer{
    padding: 2rem 3%;
  }
}